@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Luxurious+Roman&family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.boxes-1{
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 5px;
  border: 1px solid #ccc;
  align-items: center;
  font-size: 24px;
  font-family: istok web;
  margin: 20px;
}
.box{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5px;
  border: 1px solid #333;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  transition: .2s;
}
.box:hover{
  box-shadow: 0 0 10px 4px #333;
  transition: .3s;
}
.box h3{
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  font-family: luxurious roman;
  color: coral;
}
.box p{
  font-family: istok web;
  margin: 0;
  margin-top: 1px;
  font-size: 18px;
}
.box a{
  margin-top: 3px;
  text-decoration: none;
  color: #444;
  font-family: raleway;
  font-size: 15px;
  max-width: 240px;
  color: rgb(25, 0, 255);
}
.box a:hover{
  text-decoration: underline;
}
.box span{
  font-size: 13px;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;
}

